/* Page header styling */

.header{
    font-size: 1.0rem;
    color: rgb(247, 250, 252);
    margin: 0;
    background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(4,182,238,1) 0%, rgba(40,69,233,1) 100%);
    color: white;
    display: grid;
    grid-template-columns: auto auto;
    padding: 100px;
}

.header__item{
  font-size: 1.5rem;
  text-align: center;
}