@import "global-css.css";
@import "navbar.css";
@import "header.css";
@import "footer.css";

html, body{
    height:100%;
    font-size: 1rem;
    font-family: 'Kolker Brush', cursive;
    font-family: 'Source Sans Pro', sans-serif;
    margin: 0;
}












